version: "3.9"
services:
  library-broker:
    container_name: library-broker
    image: redis:6.0
    restart: unless-stopped

  library-db:
    container_name: library-db
    image: postgres:13
    restart: unless-stopped
    volumes:
      - ./backup:/backup
    environment:
      POSTGRES_DB: ${LIBRARY_DB_NAME}
      POSTGRES_USER: ${LIBRARY_DB_USER}
      POSTGRES_PASSWORD: ${LIBRARY_DB_PASSWORD}

  library:
    container_name: library
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - library-db
      - library-broker
    ports:
      - 8000:8000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ./app_data:/usr/src/paperless/data
      - ./media:/usr/src/paperless/media
      - ./export:/usr/src/paperless/export
      - ./consume:/usr/src/paperless/consume
    env_file: docker-compose.env
    environment:
      COMPOSE_PROJECT_NAME: library
      PAPERLESS_REDIS: redis://library-broker:6379
      PAPERLESS_DBHOST: library-db
      LIBRARY_DB_NAME: ${LIBRARY_DB_NAME}
      LIBRARY_DB_USER: ${LIBRARY_DB_USER}
      LIBRARY_DB_PASSWORD: ${LIBRARY_DB_PASSWORD}